#Files
*.suo
*.sln
*.txt
*.user
*.sdf
*.opensdf
*.pdb
*.aps
*.scc
*.vspscc
*.ncb
*.pch
*._i.c
*._p.c
*._i.h
*.tlb
*.tlh
*.ilk
*.log
*.lib
*.dll
*.ax
*.bin
*.pdf
*.opensdf
*.opendb
*.pfx
*.cd
*.rar
*.zip
*.db
*.reg
*.db3
*.bat
*.wmv
*.exe
*.ex
*.mi2prj
*.mi2app
*.ini
*.xml
*.snk
*.dat
*.tmp
*.msi
*.dllx
*.1
*.lck
*.exp
*.xml
*.db
*.xpl
*.ax
*.bak
*.ipdb
*.iobj
*.idb
*.ttf
*.vshost.exe.*
*.exe.config
*.lcs
*.manifest
Thumbs.db

#Folders
ipch/
[Oo]bj/
[Bb]in/
*[Dd]ebug*/
*[Rr]elease*/
[Bb]uild/
[Dd]ebug*/
packages/
[Tt]est/
[Tt]race/
_ReSharper*/
J2KSDK/

#Exception
UpgradeLog.xml
_UpgradeReport_Files/
Dependencies/
.vs/
